/* CARD */
.card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: rgb(234, 246, 250);
  border: 2px solid rgb(110, 180, 165);
  padding: 15px;
  box-shadow: 10px 10px rgb(202, 220, 226);
  transition: 0.15s all linear;
}
.card-div:hover {
  box-shadow: 5px 5px rgb(202, 220, 226);
  transform: scale(0.95);
  transform: translate(5px, 5px);
}
.card-div:hover > .card-img {
  box-shadow: inset 5px 5px rgb(202, 220, 226);
}
.card-img {
  border: 2px solid rgb(110, 180, 165);
  width: 300px;
  box-shadow: inset 10px 10px rgb(202, 220, 226);
  transition: 0.15s all linear;
}
.card-name {
  display: inline-block;
  width: fit-content;
  font-size: 55px;
  padding: 10px;
  text-shadow: -3px -3px rgb(202, 220, 226);
  transition: 0.15s all linear;
}
.card-div:hover > .card-name {
  text-shadow: -2px -2px rgb(202, 220, 226);
}
