@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inconsolata', monospace;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  background-color: rgb(217, 239, 247);
  color: rgb(119, 192, 176);
}

/* TITLE */
.titleDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 130px;
  text-shadow: 5px 5px rgb(202, 220, 226);
}

/* TEXT LEFT */
.text-left {
  position: absolute;
  bottom: 50px;
  left: 50px;
}
