* {
  margin: 0;
  box-sizing: border-box;
}

.app {
  width: 100%;
  min-height: 100vh;
  padding: 30px;
  background-color: rgb(217, 239, 247);
  color: rgb(110, 180, 165);
}

/* SCORE BOARD */
.scoreBoard {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  border: 2px solid rgb(110, 180, 165);
  position: absolute;
  padding: 20px;
  top: 20px;
  left: 20px;
}

/* TITLE */
.titleDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  font-size: 90px;
}

/* CARD */
.card-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  background-color: rgb(234, 246, 250);
  border: 2px solid rgb(110, 180, 165);
  padding: 15px;
}
.card-img {
  border: 2px solid rgb(110, 180, 165);
  width: 300px;
}
.card-name {
  display: inline-block;
  width: fit-content;
  font-size: 50px;
  padding: 10px;
}

/* DECK */
.deck-div {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}
